<component name="libraryTable">
  <library name="mybatis-ehcache-1.1.0">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/mybatis/lib/mybatis-ehcache-1.1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/mybatis/lib/ehcache-core-2.6.11.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$PROJECT_DIR$/mybatis/src" />
    </SOURCES>
  </library>
</component>